*{
                    font-family:sans-serif;
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    outline: none;
                    border: none;
                    text-decoration: none;
                    text-transform: capitalize;
                    transform: all 0.3s linear;
}


:root{
                    --orange:#ff7800;
                    --black:#130f40;
                    --light-color:#666;
                    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
}

html{
                    font-size: 62.5%;
                    overflow-x: hidden;
                    scroll-behavior: smooth;
                    scroll-padding-top: 7rem;
}

body{
                    background: #eee;
}
section {
  padding: 2rem 9%;
}

.header{
                    position: fixed;
                    top: 0; left: 0; right: 0;
                    z-index:1000;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 2rem 9rem;
                    background-color: #fff;
                    box-shadow: var(--box-shadow);
}

.header .logo{
                    font-size: 3rem;
                    font-weight: bolder;
}
.header .navbar a{
                    margin:0 1rem;
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: #130f40;
                    transition:all 0.3s ease;
}
.header .navbar a:hover{
                    color:var(--orange);
}

.header .icons{
                    display: flex;
                    font-size: 2rem;
}
.header .icons .icon{
          margin: 0 0.4rem;
          padding: 1rem 1.5rem; 
          transition: all 0.3s linear;
}
.header .icons .icon i:hover{
                  color: #ff7800;
}

#menu-btn{
                    display: none;
}

.header .search-bar {
  position: absolute;
  top: 110%; right: -110%;
  width: 50rem; height: 5rem;
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow); 

}
.header .search-bar.active{
  right: 2rem;
  transition: all 0.3s linear;
}
.header .search-bar input{
       height: 100%; width: 100%;
       background: none;
       text-transform: none;
       font-size: 1.6rem;
       color: var(--black);
       padding: 0 1.5rem;
}

.header .search-bar label{
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}
.header .search-bar label:hover{
  color: var(--orange);
}

.Home{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height:100vh;
  justify-content: space-around;
  align-items: center;
  /* padding: 7rem 0rem; */
  padding-top: 16rem;
}
.Home .content{
  width: 500px;
  height: 500px;
  padding-top: 4rem;

}

.Home .content h1{
       font-size: 6rem;
       font-weight: 700;
}
.Home .content p{
  font-size: 18px;
  font-weight: 400;
  color: #666;
  margin: 2rem 0rem;
}

.Home .content .button{
  font-size: 18px;
  font-weight: 600;
  background: rgb(255, 19, 19);
  padding: 2rem 2.5rem;
  width: 30%;
  border-radius: 10rem;
  color: #fff;
  cursor: pointer;
}

.Home .home_image{
  width: 500px;
  height: 500px;
}
.Home .home_image img{
  width: 100%;
  height: 100%;
}

.brand h1{
  font-size: 3.5rem;
  margin:0 30%;
  /* width: 100%; */
 }

 .brand .container{
  display: flex;
   flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }
 article{
  margin: 0rem 2rem;
  width:300px;
  height: 300px;
  background:#fff;
 }
 article img{
  margin: 1rem 2rem;
  width: 80%;
  height: 50%;
 }
 article h2{
  margin: 1rem 2rem;
  font-size: 2.5rem;
 }
button{
         padding: 0.8rem 3rem;
         margin-left:2rem;
         border-radius: 2rem;
         background-color:  rgb(255, 19, 19);
         color: #fff;
         font-size: 2rem;
         cursor: pointer;
 }


 .history  
 { display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height:100vh;
  justify-content:center;
  align-items: center;
  padding-top: 14rem;
}

.history .images{
  width: 500px;
  height: 400px;
}
.history .images img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.history .content_history{
  margin:0 2rem;  
  width: 500px;
  height: 500px;
}

.content_history h1{
  margin-top: 4rem;
  font-size: 35px;
  font-weight: 800;
}

.content_history p{
  width: 91%;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 16px;
  color: gray;
}

.history .content_history #btn{
  margin-top: 2rem;
}

.product{
  height: 50vh;
  width: 100%;

}

.product h1{
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3.5rem;
  color: #130f40;
}

.product p{
  text-align: center;
  margin-top: -3rem;
  font-size: 1.5rem;
  color: #130f40;
}

.container{
  display: flex;
  flex-wrap: wrap;
  /* width: 100vw; */
  /* height:10rem; */
  justify-content:center;
  /* align-items: center; */
  padding-top: 4rem;
}

.container .box{
  width: 200px;
  height: 300px;
  margin:0rem 2rem;  

}

.container .box img{
  width: 100%;
  height: 60%;
  
}
.container .box h2{
  margin:1.5rem 0.5rem;
  font-size: 20px;
}
.container .box div{
  font-size: 18px;
  margin:-0.5rem 1rem;
  color: gold;
}
.container .box .btn{
  margin: 1.5rem 0rem;
} 
.accordion {
  width: 90%;
  max-width: 500px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem -2rem;
  border-radius: 0.5rem;
  width: 470px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 4.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  
  font-size: 1.4rem;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}
@media(max-width:1260px){
  .product{
    margin-top: 20rem;
  }
  .query{
    margin-top: 20rem;
  
  }
  .accordion-item{
    margin-top: 2rem;
  }
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}
@media(max-width:1039px){
  .product{
    margin-top: 30rem;
  }

  .container .box{
    margin-top:3.5rem;
  }
  
  .query{

    margin-top: 30rem;
  
  }
}

@media(max-width:1020px){
       
  article{
          margin-top: 2rem;
        }
}
@media (max-width:1004px){
      
.Home .content{
  width: 400px;
  height: 400px;
 
}
.Home .content h1{
  font-size: 4rem;
} 
.Home .content .button{
  width: 40%;
  
}

.Home .home_image{
  width: 400px;
  height: 400px;
}
}

@media (max-width:800px){
      
  .Home {
        margin-top: -6rem; 
  }
  .Home .content{
    margin-top: 2rem;
  }

  
  .Home .home_image{
  margin-top: -10rem;
  }
   .brand{
    margin-top: 25rem;
  }
  
  }

  
@media (max-width:965px){
                    html{
                                        font-size: 55%;
                    }
                   
                 
}

@media (max-width:840px){
                    html{
                                        font-size: 50%;
                    }
                    .header{
                                        padding: 2rem;
                    }
}

@media(max-width:680px){
                  #menu-btn{
                    display: inline-block;
                  }
                    .header .navbar{
                                        position: absolute;
                                        top: 110%; right: -110%;
                                        width: 30rem;
                                        box-shadow: var(--box-shadow);
                                        border: 0.5rem;
                                        background: #fff;
                    }
                    .header .navbar.active{
                                        right: 2rem;
                                        transition: all 0.4s ease;
                    }
                    
                    .header .navbar a{
                         font-size: 2rem;               
                         margin: 2rem 2.5rem;
                         display: block;                       
                    }
                    
                    .brand h1{
                     margin-left: 20%;
                     width: 350px;
                       }  



}

@media(max-width:570px){
  
  .query{

    margin-top: 115rem;
  
  }
  .accordion-item{
    width: 350px;
  }
}
@media (max-width:510px){
  .history .images{
    
          width: 350px;
         }

           .product{
    margin-top:43rem;
  }

        }

@media (max-width:455px){
  
  .brand h1{
    margin-left: 10%;
    font-size: 22px;
    width: 275px;
      }  
      .product{
        margin-top:50rem;
      }   

}

@media (max-width:430px){
  .header .search-bar{
    width: 90%;
  }
  .header .icons .icon{
    margin: 0 0.2rem;
  } 

        
    
    .Home .content{
      width: 300px;
      height: 300px;
     
    }
    .Home .content h1{
      font-size: 3rem;
    } 
    .Home .content .button{
      width: 60%;
      
    }
    
    .Home .home_image{
      margin-top: 2rem;
      width: 300px;
      height: 300px;
    }
    
  
  
}

@media(max-width:400px){
  
  .product{
    margin-top:58rem;
  }
  .accordion-item{
    width: 300px;
    margin-left: -3rem;
  }
}

@media (max-width:350px){
  .history .images{
    
          width: 270px;
         }
         
  .product{
    margin-top:68rem;
  }
    
}

@media(max-width:330px){
  
  .product{
    margin-top:70rem;
  }
}


@media(max-width:300px){
  
  .product{
    margin-top:95rem;
  }
}
@media (max-width:310px){
      
  .Home .content{
    width: 270px;
    height: 270px;
   
  }
  .Home .content h1{
    font-size: 3rem;
  } 
  .Home .content .button{
    width: 80%;
    
  }
  
  .Home .home_image{
    width: 270px;
    height: 270px;
  }
  .brand{
    margin-top: 5rem;
  }
  .brand h1{
    margin-left: 5%;
  }
  }